/* Variables comunes de colores y tipografía*/
:root{
    /* Colores principales */
    --color-verde-principal: #48bb78;
    --color-verde-secundario: #38a169;

    --color-turquesa-1: #38b2ac;
    --color-turquesa-2: #4fd1c7;

    --color-amarillo-suave: #f6ad55;

    /* Colores de apoyo */
    --color-texto-principal: #333333;
    --color-texto-secundario: #6b7280;

    --color-fondo-base: #ffffff;
    --color-fondo-verde-suave: #e6f7e8;
    --color-fondo-gris: #dbdbdb;

    /* Fuente predeterminada */
    --fuente: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Reset básico del css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente);
    background-color: var(--color-fondo-base);
    color: var(--color-texto-principal);
    line-height: 1.6;
}

/* Header para el nav es fijo */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Es un difuminado para que cuando hagamos scroll se vea lo de atrás difuminado*/
    padding: 1rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    i {
        font-size: 1.8rem;
        color: var(--color-verde-principal);
        margin-right: 0.5rem;
        justify-self: start;
    }

    h3 {
        color: var(--color-verde-principal);
        font-size: 1.5rem;
        font-weight: 600;
        justify-self: center;
    }

    #fotoPerfil {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        border: 2px solid var(--color-amarillo-suave);
        justify-self: end;
    }

    #logoLeafConnect{
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        object-fit: cover;
        justify-self: end;
    }

    /* Menú desplegable de estadísticas, amigos y cerrar sesión*/
    #menuDesplegable {
        position: absolute; /*Absolute y display none que se cambia con js*/
        top: 3.5rem;
        right: 0;
        background-color: var(--color-fondo-base);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 0.5rem 0;
        min-width: 200px;
        display: none;
        z-index: 1000;

        a {
            display: block;
            padding: 0.75rem 1.5rem;
            text-decoration: none;
            color: var(--color-texto-principal);
            transition: 0.2s;
        }

        a:hover {
            background-color: #f0fff4;
        }

        i {
            margin-right: 0.5rem;
            color: var(--color-principal);
        }
    }
}

/* Main, la parte principal que contiene la caja de la palabra */
main {
    max-width: 1200px;
    margin: 10rem auto 2rem auto;
    padding: 0 1rem;
}

/* Caja que contiene el juego de la palabra */
#cajaPalabra {
    width: 30%;
    margin: 12rem auto 1rem auto;
    background-color: var(--color-fondo-base);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 2px 8px var(--color-verde-principal);

    .tituloPalabra {
        color: var(--color-verde-principal);
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .temporizador {
        display: block;
        width: fit-content;
        font-family: 'Digital-7', monospace;
        font-size: 1rem;
        text-align: center;
        margin: 1rem auto 3rem auto;
        padding: 0.5rem 0.5rem;
        box-shadow: 1px 2px 3px rgb(0,0,0,0.2);
        border-radius: 6px;
        background-color: var(--color-fondo-gris);
    }

    .pista {
        color: var(--color-verde-secundario);
        background-color: #e6f7e8;
        padding: 1rem;
        font-size: 0.9rem;
        border-left: 3px solid var(--color-verde-principal);
        border-radius: 3px;
        margin-bottom: 2rem;
        font-style: italic;
    }

    /* El input para enviar la palabra y comprobar si es correcta*/
    .contenedorAcierto {
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 0.5rem;
    }

    .introducirPalabra {
        width: 100%;
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
        border: none;
        background-color: var(--color-fondo-verde-suave);
    }

    .introducirPalabra:focus {
        outline: none;
        box-shadow: none;
    }

    .enviarPalabra {
        width: 100%;
        padding: 0.6rem;
        font-size: 0.8rem;
        color: var(--color-fondo-base);
        background-color: var(--color-verde-principal);
        border: none;
        border-radius: 3px;
    }
}

/*Quedamos la descripción fuera de la anidacion porque la vamos a volver a utilizar*/
.descripcion {
    color: var(--color-verde-secundario);
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

/* Cambiamos de html y ahora estamos con editar y modificar la palabra del dia */

/* Navegador para cambiar la gestión de cada modo de juego*/
#navegador {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.6rem;
    margin-bottom: 2rem;

    a {
        background-color: #e6fffa;
        padding: 0.7rem 1.2rem;
        border-radius: 8px;
        text-decoration: none;
        color: #2c7a7b;
        font-weight: 600;
        transition: 0.2s;
        border: 1px solid #b2f5ea;
    }

    a:hover {
        background-color: #b2f5ea;
    }
}

#contenedorModificarPalabra {
    width: 100%;
    background-color: var(--color-fondo-base);
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    margin-bottom: 2rem;

     h1 {
        font-size: 2rem;
        color: var(--color-verde-principal);
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
    }

    label {
        font-weight: 600;
        color: var(--color-verde-secundario);
    }

    input[type="text"],
    input[type="date"] {
        padding: 0.8rem 1rem;
        border: 2px solid #c6f6d5;
        border-radius: 8px;
        font-size: 1rem;
        transition: 0.2s;
    }

    input:focus {
        border-color: var(--color-verde-principal);
        box-shadow: 0 0 6px rgba(72,187,120,0.4);
    }

    p {
        font-size: 0.9rem;
        color: #6b7280;
        margin-top: -0.8rem;
    }

    input[type="submit"] {
        margin-top: 1rem;
        background-color: var(--color-verde-principal);
        color: var(--color-fondo-base);
        padding: 0.9rem;
        border: none;
        border-radius: 8px;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s;
    }

    input[type="submit"]:hover {
        background-color: var(--color-verde-secundario);
        transform: translateY(-3px);
    }

    input[type="submit"]:active {
        transform: translateY(0);
    }

    input[type="date"],
    input[type="submit"] {
        max-width: 160px;
    }
}

/* Gestión de amigos*/

#tituloAmigos{
    font-family: var(--fuente);
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

#anadirAmigo{
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);;
    padding: 1.7rem 1rem;
    width: 100%;
    margin-bottom: 2rem;
    color: var(--color-texto-principal);

    h2{
        font-family: var(--fuente);
        font-size: 1.4rem;
        color: var(--color-texto-principal);
    }

    .contenedorBuscarAmigo{
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 0.5rem;

        .introducirAmigo{
            width: 100%;
            padding: 0.8rem 1rem;
            font-size: 0.8rem;
            border: none;
            background-color: var(--color-fondo-gris);
            border-radius: 7px;
        }

        .introducirAmigo:focus {
            outline: none;
            box-shadow: none;
        }

        .enviarAmigo {
            width: 100%;
            padding: 0.6rem;
            font-size: 0.8rem;
            color: var(--color-fondo-base);
            background-color: var(--color-verde-principal);
            border: none;
            border-radius: 7px;
        }
    }
}

#amigosSolicitudes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    border-radius: 10px;
    border: 4px solid var(--color-fondo-gris);
    background-color: var(--color-fondo-gris);
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    margin-bottom: 1.2rem;

    .botonNoActivo {
        border: none;
        padding: 0.7rem 0;
        background-color: var(--color-fondo-gris);
        border-radius: 10px;
        cursor: pointer;
        color: var(--color-texto-principal);
    }
    /* Botón activo */
    .botonActivo {
        border: none;
        padding: 0.7rem 0;
        background: var(--color-fondo-base);
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0,0,0,0.08);
    }
}

#misAmigos{
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.27);
    border-radius: 8px;
    display: block;


    
    #contenedorAmigo{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "fotoAmigo   nombreAmigo  simbolo"
        "fotoAmigo   estadoAmigo  simbolo";
        align-items: center;
        gap: 0.45rem;
        font-size: 1.2rem;
        font-family: var(--fuente);
        box-shadow: 0 0 4px rgba(0,0,0,0.15);
        padding: 0.4rem 1.8rem;
        border-radius: 8px;
        margin: 1rem auto;
    }

}

.fotoAmigo{
    grid-area: fotoAmigo;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-verde-principal);
    margin-right: 1rem;
}

.nombreAmigo{
    grid-area: nombreAmigo;
    font-weight: 600;
}

.estadoAmigoOnline{
    grid-area: estadoAmigo;
    width: 10%;
    padding: 0.3rem 0.3rem;
    border: none;
    background-color: var(--color-verde-principal);
    box-shadow: 0 0 4px rgba(0,0,0,0.27);
    border-radius: 6px;
}

.estadoAmigoOffline{
    grid-area: estadoAmigo;
    width: 10%;
    font-weight: 600;
    padding: 0.3rem 0.3rem;
    border: none;
    background-color: var(--color-fondo-base);
    box-shadow: 0 0 4px rgba(0,0,0,0.27);
    border-radius: 6px;
}

.simboloAmigo{
    grid-area: simbolo;
    justify-self: end;
}

#misSolicitudes{
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.27);
    border-radius: 8px;
    display: none;
}

#misSolicitudes{
    h2{
        margin-bottom: 1.3rem;
    }
}

#contenedorSolicitudes{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "fotoAmigo   nombreAmigo  aceptarSolicitud rechazarSolicitud"
    "fotoAmigo   nombreAmigo  aceptarSolicitud rechazarSolicitud";
    align-items: center;
    gap: 0.45rem;
    font-size: 1.2rem;
    font-family: var(--fuente);
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    padding: 0.4rem 1.8rem;
    border-radius: 8px;
    margin: 1rem auto;
    
}

.aceptarSolicitud{
    grid-area: aceptarSolicitud;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.rechazarSolicitud{
    grid-area: rechazarSolicitud;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: red;
    color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

/* Pie de página para el copyright */
footer {
    text-align: center;
    padding: 2rem;
    color: #6b7280;
    margin-top: 3rem;
}

/* Medidas adaptativas para diferentes pantallas */
@media (max-width: 1024px) {
    #cajaPalabra {
        width: 55%;
        margin: 10rem auto 1rem auto;
        padding: 1.8rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    #cajaPalabra {
        width: 40%;
        margin: 11rem auto 1rem auto;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    #contenedorModificarFrase {
        padding: 1.5rem;
    }

    #navegador {
        gap: 0.6rem;
    }

    #contenedorModificarFrase h1 {
        font-size: 1.7rem;
    }
}

@media (max-width: 700px) {
    #cajaPalabra {
        width: 95%;
        margin: 10rem auto 1rem auto;
        padding: 1.8rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {

    #contenedorAmigo,
    #contenedorSolicitudes {
        padding: 0.7rem 1.6rem;
    }
}

@media (max-width: 768px) {

    /* Buscador */
    .contenedorBuscarAmigo {
        grid-template-columns: 1fr;
    }

    /* Cada amigo */
    #contenedorAmigo {
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "fotoAmigo nombreAmigo"
            "estadoAmigo estadoAmigo"
            "simbolo simbolo";
        text-align: center;
        padding: 0.8rem 1rem;
    }

    .simboloAmigo {
        justify-self: center;
    }

    .estadoAmigoOnline,
    .estadoAmigoOffline {
        width: 60%;
        margin: 0.5rem auto;
    }

    /* Solicitudes */
    #contenedorSolicitudes {
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "fotoAmigo nombreAmigo"
            "aceptarSolicitud aceptarSolicitud"
            "rechazarSolicitud rechazarSolicitud";
        text-align: center;
        padding: 0.8rem 1rem;
    }

    .aceptarSolicitud,
    .rechazarSolicitud {
        width: 80%;
        margin: 0.4rem auto;
    }
}

@media (max-width: 700px) {

    #contenedorAmigo,
    #contenedorSolicitudes {
        padding: 0.7rem 0.9rem;
        font-size: 1rem;
    }

    .fotoAmigo {
        width: 2.4rem;
        height: 2.4rem;
    }

    
}
