body{
    width: 760px;
    margin: auto;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 760px; /*100%*/
    height: 10vh; 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

nav {
    align-items: center;
    max-width: 760px;
    margin: 0 auto;
    position: relative;
    height: 10vh;

    i {
        font-size: 1.8rem;
        color: #48bb78;
        margin-right: 0.5rem;
        position: absolute;
        left: 5%;
        top: 3vh;
    }

    h3 {
        color: #38b2ac;
        font-size: 1.5rem;
        font-weight: 600;
        display: inline;
        text-align: left;
        position: absolute;
        left: 40%;
    }
}

#fotoPerfil {
    width: 45px;
    height: 45px;
    border: 2px solid #f6ad55;
    display: block;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: absolute;
    right: 12%;
    top: 1vh;
}

main {
    max-width: 668px; /*700 - 2rem(32px)*/
    margin: auto;
    padding-top: 10vh;
}

#noticia_contenedor section, #noticia_panel{
    width: 636px; /*668 - 32px*/
    margin: 6vh auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgb(212, 212, 212);
    border-radius: 1rem;
    border: 1px solid #38a169;
}

#noticia_contenedor .titulo{
    color: #38a169;
}

#noticia_seccion_principal{
    font-family: inherit;
    display: flow-root; /*Rompe el flotamiento*/
}

#noticia_imagen{
    width: 40%;
    padding-top: 10rem; /* 160px */ 
    float: left;
}

#noticia_contenido{
    width: 60%;
    padding: 0rem 1rem; /*32px que se incluyen dentro del 60%*/
    box-sizing: border-box;
    float: left;
}

#noticia_imagen img{
    width: 90%;
    border-radius: 50%;
    margin: auto;
}

#noticia_contenido h2{
    color: #38b2ac,;
}

.contenedor {
    width: 100%;
    margin: auto;
}

#noticia_seccion_pregunta{
    max-width: 624px; /*668 - 32px - 12px*/
    padding: .5rem; /*8px*/
    padding-bottom: 3.5rem;
    position: relative;
}

.noticia_pregunta ul{
    list-style: none;
    padding-left: 0.75rem;
}

.noticia_pregunta ul li input[type=radio]{
    appearance: none; /* Quita los estilos por defecto. */
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    border: 1px solid #38a169;
}

.noticia_pregunta ul li input[type="radio"]:checked {
    background-color: #38a169;
}

.noticia_pregunta .fa-circle-check{
    color: green;
}

.noticia_pregunta .fa-circle-xmark{
    color: red;
}

#noticia_seccion_pregunta input[type=submit], #noticia_panel input[type=submit]{
    position: absolute;
    right: 10%;
    border: 0;
    bottom: 2%;
    border-radius: .5rem;
    background-color: #38a169;
    color: white;
    padding: 0.5rem;
}

@media (max-width: 570px) {
    #noticia_imagen{
        width: 100%;
        float: none;
        position: relative;
    }
    #noticia_contenido{
        width: 100%;
        float: none;
    }
    #noticia_imagen img{
        width: 40%;
        position: absolute;
        top: 0;
        left: 30%;
    }
}