body{
    width: 760px; /*Para tablet*/
    margin: auto;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    padding-top: 10vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 760px; /*100%*/
    height: 10vh; 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

nav {
    align-items: center;
    width: 760px;
    margin: 0 auto;
    position: relative;
    height: 10vh;

    i {
        font-size: 1.8rem; /*28.8px*/
        color: #48bb78;
        position: absolute;
        left: 5%;
        top: 3vh; 
    }

    h3 {
        color: #38b2ac;
        font-size: 1.5rem;
        font-weight: 600;
        display: inline;
        text-align: left;
        position: absolute;
        left: 40%;
    }
}

#fotoPerfil {
    width: 45px;
    height: 45px;
    border: 2px solid #f6ad55;
    display: block;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: absolute;
    right: 12%;
    top: 1vh;
}


#noticia_contenedor{
    margin: auto;
    width: 700px;


    section, #noticia_panel{
        width: 636px; /*668 - 32px*/
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 4px 10px rgb(212, 212, 212);
        border-radius: 1rem;
        border: 1px solid #38a169;
        margin: 1rem 0rem; 
    }

    #noticia_seccion_principal{
        width: 668; /*700 - 32px*/
        padding: 1rem;


        font-family: inherit;
        display: flow-root; /*Rompe el flotamiento*/
        
        #noticia_contenido{
            width: 60%; /* $400.8 - 16px*/
            float: left;
            text-align: justify;

            .titulo{
                color: #38a169;
            }
        }

        #noticia_imagen{
            width: 33.6%; /*267.2px - 16px (padding de padre) - 16px = 235.2 */
            padding: 1rem;
            padding-top: 10rem; /* 160px */
            float: left;

            img{
                width: 100%;
                border-radius: 50%;
                margin: auto;
            }
        }
    }
}

#noticia_seccion_pregunta{
    width: 668px; /*700 - 32px*/
    padding: 1rem;
    padding-bottom: 3.5rem;
    position: relative;
    
    .noticia_pregunta {

        .fa-circle-check{
            color: green;
        }

        .fa-circle-xmark{
            color: red;
        }

        ul{
            list-style: none;
            padding-left: 0.75rem; 

            li {
                input[type=radio]{
                    appearance: none; /* Quita los estilos por defecto. */
                    width: 0.75rem;
                    height: 0.75rem;
                    border-radius: 50%;
                    border: 1px solid #38a169;
                }

                input[type="radio"]:checked {
                    background-color: #38a169;
                }
            }
        }
    }

    input[type=submit], #noticia_panel input[type=submit]{
        position: absolute;
        right: 10%; 
        border: 0;
        bottom: 2%;
        border-radius: .5rem; /*8px*/
        background-color: #38a169;
        color: white;
        padding: 0.5rem;
    }
}


@media (max-width: 571px) {
    #noticia_seccion_principal{
        display: block;
    }

    #noticia_contenedor #noticia_seccion_principal #noticia_contenido{
        width: 100%;
        float: none;
    }

    #noticia_contenedor #noticia_seccion_principal #noticia_imagen{
        padding-top: 0;
        width: 50%;
        float: none;
        margin: auto;
    }

    #noticia_imagen img{
        width: 100%;
        border-radius: .5rem;
    }
}