* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 1000;

}

nav{
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

}
nav i {
    font-size: 1.8rem;
    color: var(--color-principal);
    margin-right: 0.5rem;
    justify-self: start;
}

nav h3 {
    color: #44bb78;;
    font-size: 1.5rem;
    font-weight: 600;
    justify-self: center;

}

#fotoPerfil {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid;
    background-color: #f0f0f0;
    justify-self: end;
}
#menuDesplegable {
    position: absolute; /*Absolute y display none que se cambia con js*/
    top: 3.5rem;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0.5rem 0;
    min-width: 200px;
    display: none;
    z-index: 1000;
}

#menuDesplegable a {
    display: block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #333;
    transition: 0.2s;
}

#menuDesplegable a:hover {
    background-color: #f0fff4;
}

#menuDesplegable i {
    margin-right: 0.5rem;
    color: #44bb78;
}

main {
    max-width: 1200px;
    margin: 10rem auto 2rem auto;
    padding: 0 1rem;
}

#navegador {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.6rem;
    margin-bottom: 2rem;
}

#navegador a {
    background-color: #e6fffa;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    color: #2c7a7b;
    font-weight: 600;
    transition: 0.2s;
    border: 1px solid #b2f5ea;
}

#navegador a:hover {
    background-color: #b2f5ea;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}
form label{
    font-weight: 600;
    color: #2f855a;
}
form select{
    width: 80px;
}


footer {
    text-align: center;
    padding: 2rem;
    color: #6b7280;
    margin-top: 3rem;
}





