* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}



#menuDesplegable a {
display: block;
padding: 0.75rem 1.5rem;
color: #333;
text-decoration: none;
transition: background-color 0.2s;
}


#menuDesplegable a:hover {
background-color: #f0fff4;
}


#menuDesplegable i {
margin-right: 0.5rem;
color: #4fd1c7;
}


#bomb{
margin-left: 50%;
color: green;
margin-bottom: 10px;
}


main {
width: 100%;
padding-top: 100px;
text-align: center;
}


#cajaConsejo {
text-align: justify;
width: 900px;
max-width: 500px;
margin: 6rem auto 2rem auto;
background-color: #ffffff;
border-radius: 12px;
padding: 2rem;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}


#tituloConsejo{
text-align: center;
margin-bottom: 20px;
}


#fraseConsejo{
color: #548f60;
background-color: #e6f7e8;
padding: 1rem 1rem;
font-size: 0.9rem;
border-left: 3px solid rgb(0, 114, 47);
border-radius: 3px;
margin-bottom: 2rem;
font-style: italic;
}


footer {
text-align: center;
color: #6b7280;
margin-top: 12rem;
}
